.element-muzeja {

  .item {
    width: 100%;
  }

    ul {
      list-style-type: none;
      padding-left: 0;
      width: 100%;

      .image-wrapper {
        position: relative;
        overflow: hidden;
        padding-bottom: 100%;

        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          height: 100%;
        }
      }

      li {
        color: rgb(0,0,0);
        font-size: 14px;
        padding-top: 15px;

        h4 {
          margin-bottom: 0;
          font-family: 'Lora', serif;
          color: #f86942;
        }
      }
    }
}

.modal-list {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  font-family: 'Lora', serif;
  text-align: center;

  .image-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      height: 100%;
    }
  }

  li {
    color: rgb(0,0,0);
    font-size: 16px;
    padding-top: 15px;

    h3 {
      margin-bottom: 0;
      font-family: 'Lora', serif;
      color: #f86942;
    }
  }
}

