#krajolik-uvodni {
  position: relative;
  height: 550px;
  width: 100%;
  display: inline-block;
  background-image: url('../../static/zagreb-mirogoj.jpg');
  background-size: cover;
  background-position: center center;
  height: 550px;
  display: table;

    .overlay {
      background-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

  .intro {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    text-align: center;

    h1 {
      font-size: 56px;
      line-height: 60px;
      color: #ffffff;
      font-weight: 100;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
    }

    h2 {
      letter-spacing: 4px;
      line-height: 1.5;
      text-transform: uppercase;
      padding-bottom: 20px;
      position: relative;
      color: #ffffff;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
    }

    .no-style-Link{
      text-decoration: none;
      color: #ffffff;
    }
  }

}



@media screen and (max-width: 768px) {

  #krajolik-uvodni {

    .intro {
      h1 {
        font-size: 44px;
      }
    }
  }
}