header {
  background-color: rgba(0,0,0,0.45);
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 103;
  height: 60px;
  color: #ffffff;

    #logo {
        font-size: 20px;
        margin: .9em 0 0 0;
        padding: 0;
        font-weight: 700;
        float: left;

        a {
          border-bottom: none !important;
          color: #ffffff;
          letter-spacing: 3px;
          text-transform: uppercase;
          &:hover {
            text-decoration: none;
          }
        }
    }

    #menu-wrap {
      float: right;
      position: relative;
      margin-right: -20px;

        .menu {

            > li {
                margin: 0;
                padding: 0;
                list-style: none;
                display: inline-block;
                line-height: 60px;
                padding: 0 25px;
                font-family: 'Lora', serif;

                a {
                  border: none;
                  text-decoration: none;
                  zoom: 1;
                  font-size: 18px;
                  font-weight: 700;
                  color: #ffffff;
                }

              .glyphicon-user{
                color: #fff;

                &:before {
                  padding-right: 10px;
                }
              }

            }
        }
    }

  .dropdown {
    color: #fff;

    .__react_bs_dd_trigger {
      padding: 0 !important;
    }

    #__react_bs_dd_carat {
      font-size: 10px;
    }

    .container {
      background-color: rgba(0,0,0,0.45) !important;
      width: auto;
      padding: 0 !important;
      margin-left: -10px;

      a {
        padding: 5px 10px;
      }
    }
  }

}

#menuToggle {
  display: none;
  cursor: pointer;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

@media screen and (max-width: 768px) {

  header {
    background-color: rgba(0,0,0,0.7);
  }

  #menuToggle {
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;

    &.open {

      span:nth-child(1) {
        top: 0px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      span:nth-child(2) {
        display: none;
      }

      span:nth-child(3) {
        top: 9px;
        right: 1px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }

  #menu-wrap {
    display: none;

    &.open {
      display: block;
      top: 20px;
      width: 100%;

      .menu {
        padding-left: 0;

        li {
          display: block;
          background-color: rgba(0,0,0,0.7)
        }
        .dropdown {

          #__react_bs_dd_menuItems {
            position: relative !important;
            box-shadow: none !important;
            background-color: transparent !important;
            margin-left: 20px;
          }
        }

      }
    }
  }
}
