#att-image {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  text-align: center;
  display: table;
  width: 100%;
  color: #fff;
  position: relative;
  background-image: url(../static/uvodna.jpg);

  .overlay {
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .intro {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    align-items: center;

    h1 {
      font-size: 44px;
      line-height: 60px;
      color: #ffffff;
      font-weight: 100;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
      width: 80%;
      margin: 0 auto;

      a {
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  #att-image {

    .intro {
      h1 {
        font-size: 28px;
      }
    }
  }
}