.text {
  .fields p {
    display: inline-block;
    margin: 5px 10px;
  }
}

.info {
  margin-left: 18px;
  margin-top: -5px;
  cursor: pointer;
}

.modalLeft {

  .slika-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    border-radius: 50%;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: auto;
      height: 100%;
    }
  }
}

.labels {
  width: 100%;
  list-style-type: none;
  padding-left: 0;

  li {
    margin-bottom: 10px;
    padding: 5px 10px;
  }

  .pokojinik-label {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .value {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    color: #f86942;
    font-family: 'Lora', serif;
  }
}
