.informacije {
  text-align: center;
  margin-bottom: 50px;

  label {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
  }

  h4, a {
    display: inline-block;
    padding-left: 20px;
    color: #f86942;
    font-size: 18px;
    font-family: 'Lora', serif;
  }

  a {
    cursor: pointer;
  }
}

.museum-link {
  margin-bottom: 100px;

  a {
    color: #f86942;
    font-family: 'Lora', serif;
  }
}

@media screen and (max-width: 768px) {

  .heading {
    padding: 40px 0;

    h2 {
      font-size: 26px;
    }
  }

  .info-col {
    margin-bottom: 40px;
  }

  .card .card-body h3, .info-col h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 479px) {


  .card .card-body {
    h3 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }

  }
}