.map{
  overflow: hidden;
  text-align: center;
}

.text {

  input {
    margin: 20px 0 10px;
    padding: 5px;
  }

  .fields p {
    display: inline-block;
    margin: 5px 10px;
  }

  .btn-route {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    background-color: #f86942;
    margin: 20px 0 50px;
  }
}