.ljubimac {
  margin-bottom: 20px;

  &:hover {
    border-radius: 5px;
    -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0.125, 0.125, 0.125, 0.125);
    -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0.125, 0.125, 0.125, 0.125);
    -o-box-shadow: 0 0.125em 0.125em 0 rgba(0.125, 0.125, 0.125, 0.125);
    box-shadow: 0 0.125em 0.125em 0 rgba(0.125, 0.125, 0.125, 0.125);
    margin-top: -10px;
    cursor: pointer;
  }

    &.modalWrap {
      &:hover {
        box-shadow: none;
        margin-top: 0;
        cursor: default;
      }

      .labels {
        width: 100%;

        li {
          margin-bottom: 10px;
          padding: 5px 10px;
        }

        .ljubimac-label {
          display: block;
          width: 100%;
          text-align: center;
          padding: 0;
        }

        .value {
          font-size: 20px;
          display: block;
          width: 100%;
          text-align: center;
          padding: 0;
        }
      }
    }

  .ljubimac-dio {
    width: 100%;
    display: flex;
  }

  .lijevo {
    width: 30%;
    margin: auto 0;
  }

  .slika-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    border-radius: 50%;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      width: auto;
      height: 100%;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .labels {
    width: 70%;
    padding: 10px;
    margin-bottom: 0;

    li {
      margin-right: 10px;
    }

    .ljubimac-label {
      display: inline-block;
      width: 40%;
      text-align: right;
      padding-right: 20px;
      color: black;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .value {
      display: inline-block;
      width: 60%;
      font-size: 12px;
      padding: 5px;
      color: #f86942;
      font-family: 'Lora', serif;
    }
  }
}