

.login-container {
    margin: 120px auto;
    width: 320px;

    .btn-more{
        margin-bottom: 20px;

        &:hover {
            color: rgba(255, 255, 255, .7);
        }
    }

    a {
        color:rgb(248, 105, 66);
    }
}